# PostgreSQL Configuration
POSTGRES_USER=homiko
POSTGRES_PASSWORD=homiko123

# Grafana Configuration
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=changeme

# Watchtower Configuration
WATCHTOWER_POLL_INTERVAL=300
